<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/images/weather-91.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   <div class="main-content">
     {{>header}}
    <img src="/images/download.jpeg" class="portrait" alt="">
   </div>

{{>footer}}
</body>
</html> 